In [1]:
# Dependencies and setup
import numpy as np
import os
import pandas as pd

In [2]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func, desc, Column, Integer, String, Float
# from admin import (user, password, host, port, database)

# from TAconfig import (user, password, host, port, database)

# Extract

### A. &nbsp;National Parks (from JSON)
- National Parks with correct lat/lng coordinates.
- Incomplete dataset.

In [3]:
# Data source URL and variable
aURL = "https://github.com/learn-chef/national-parks-java/blob/master/national-parks.json"
aFilePath = "data/natParks.json"
print(f"{aFilePath} is {round(os.path.getsize(aFilePath)/1024/1024, 2)} megabytes (MB).\nMore info here:\n{aURL}")

data/natParks.json is 0.14 megabytes (MB).
More info here:
https://github.com/learn-chef/national-parks-java/blob/master/national-parks.json

In [4]:
# Read JSON file into DataFrame
a_df = pd.read_json(aFilePath)
a_df.head()

,Location Number,Location Name,Address,City,State,Zip Code,Phone Number,Fax Number,Latitude,Longitude,Location
0,ABLI,Abraham Lincoln Birthplace National Historical...,2995 Lincoln Farm Road,Hodgenville,Kentucky,42748,(270) 358-3137,(270) 358-3874,37.535671,-85.734064,"{'coordinates': [-85.7340637, 37.535671], 'typ..."
1,ACAD,Acadia National Park,P.O. Box 177,Bar Harbor,ME,4609,(207) 288-3338,(207) 288-8813,44.338556,-68.273335,"{'coordinates': [-68.2733346, 44.3385559], 'ty..."
2,ADAM,Adams National Historical Park,135 Adams Street,Quincy,MA,2169,(617) 770-1175,(617) 472-7562,42.256412,-71.011167,"{'coordinates': [-71.011167, 42.256412], 'type..."
3,AFBG,African Burial Ground National Monument,"290 Broadway, 1st Floor",New York,NY,10007,(212) 637-2019,(212) 227-2026,40.715051,-74.005369,"{'coordinates': [-74.0053687, 40.7150514], 'ty..."
4,alka,Ala Kahakai National Historic Trail,"73-4786 Kanalani Street, #14",Kailua-Kona,Hawaii,96740,0,(808) 329-2597,19.689206,-156.021329,"{'coordinates': [-156.021329, 19.689206], 'typ..."

### B. &nbsp;National Parks (from CSV)
- All National Parks.
- Complete dataset of National Park names, but missing 102 lat/lng coordinates.

In [5]:
# Data source URL and variable
bURL = "https://public-nps.opendata.arcgis.com/datasets/nps-boundary-1/data?geometry=79.963%2C-20.479%2C-104.959%2C70.899"
bFilePath = "data/natParks.csv"
print(f"{bFilePath} is {round(os.path.getsize(bFilePath)/1024/1024, 2)} megabytes (MB).\nMore info here:\n{bURL}")

data/natParks.csv is 0.12 megabytes (MB).
More info here:
https://public-nps.opendata.arcgis.com/datasets/nps-boundary-1/data?geometry=79.963%2C-20.479%2C-104.959%2C70.899

In [6]:
# Read CSV file into DataFrame
bRaw_df = pd.read_csv(bFilePath)
bRaw_df.head()

,X,Y,OBJECTID,UNIT_CODE,UNIT_NAME,DATE_EDIT,STATE,REGION,GNIS_ID,UNIT_TYPE,CREATED_BY,PARKNAME,CreationDate,Creator,EditDate,Editor,GlobalID
0,1.622192e+07,1.713993e+06,1,AMME,American Memorial Park,2015/04/22 00:00:00+00,MP,PW,1879026,Park,Lands,American Memorial Park,2020/01/09 22:13:23.903+00,SCarlton@nps.gov_nps,2020/01/09 22:13:23.903+00,SCarlton@nps.gov_nps,1e6ff4df-da40-448f-8eb7-c558c62b7547
1,-1.365754e+07,6.142537e+06,2,EBLA,Ebey's Landing National Historical Reserve,2015/04/22 00:00:00+00,WA,PW,1888910,National Historical Reserve,Lands,Ebey's Landing,2020/01/09 22:13:23.903+00,SCarlton@nps.gov_nps,2020/01/09 22:13:23.903+00,SCarlton@nps.gov_nps,3d9b000d-5d60-42d6-956e-e4bbc04112af
2,-1.321531e+07,6.092168e+06,3,LARO,Lake Roosevelt National Recreation Area,2015/04/22 00:00:00+00,WA,PW,1531834,National Recreation Area,Lands,Lake Roosevelt,2020/01/09 22:13:23.903+00,SCarlton@nps.gov_nps,2020/01/09 22:13:23.903+00,SCarlton@nps.gov_nps,a320704c-2371-4749-a569-0ebc6824f49e
3,-1.376115e+07,6.072851e+06,4,OLYM,Olympic National Park,2015/04/22 00:00:00+00,WA,PW,1530459,National Park,Lands,Olympic,2020/01/09 22:13:23.903+00,SCarlton@nps.gov_nps,2020/01/09 22:13:23.903+00,SCarlton@nps.gov_nps,f7b33667-0391-4703-95a7-e0f03a240bf8
4,-7.596900e+06,5.519885e+06,6,ACAD,Acadia National Park,2013/12/18 00:00:00+00,ME,NE,578853,National Park,Lands,Acadia,2020/01/09 22:13:23.903+00,SCarlton@nps.gov_nps,2020/01/09 22:13:23.903+00,SCarlton@nps.gov_nps,258ec5bf-b326-48aa-aaa4-5eaeb83e58a9

### C. &nbsp;National Parks with Size/Area (from CSV)
- All National Parks; complete dataset.

In [7]:
# Data source URL and variable
cURL = "https://public-nps.opendata.arcgis.com/datasets/nps-boundary-1/data?geometry=79.963%2C-20.479%2C-104.959%2C70.899"
cFilePath = "data/natParksArea.csv"
print(f"{cFilePath} is {round(os.path.getsize(cFilePath)/1024/1024, 2)} megabytes (MB).\nMore info here:\n{cURL}")

data/natParksArea.csv is 0.17 megabytes (MB).
More info here:
https://public-nps.opendata.arcgis.com/datasets/nps-boundary-1/data?geometry=79.963%2C-20.479%2C-104.959%2C70.899

In [8]:
# Read CSV file into DataFrame
cRaw_df = pd.read_csv(cFilePath)
cRaw_df.head()

,OBJECTID,UNIT_CODE,GIS_Notes,UNIT_NAME,DATE_EDIT,STATE,REGION,GNIS_ID,UNIT_TYPE,CREATED_BY,METADATA,PARKNAME,CreationDate,Creator,EditDate,Editor,Shape__Area,Shape__Length,Shape__Acreage,GlobalID
0,40,ABLI,Lands - http://landsnet.nps.gov/tractsnet/docu...,Abraham Lincoln Birthplace National Historical...,2007/10/03 00:00:00+00,KY,SE,496556,National Historical Park,Lands,https://irma.nps.gov/DataStore/Reference/Profi...,Abraham Lincoln Birthplace,2020/01/09 22:16:03.201+00,SCarlton@nps.gov_nps,2020/06/04 09:11:17.649+00,RJohnson@nps.gov_nps,2.186841e+06,12580.539080,338.751431,7aae8653-804b-4515-98aa-1957cee07dc9
1,397,ACAD,PRELIMINARY - Data has not completed the entir...,Acadia National Park,2013/12/18 00:00:00+00,ME,NE,578853,National Park,Lands,Preliminary data. Contact the Land Resources P...,Acadia,2020/01/09 22:16:03.201+00,SCarlton@nps.gov_nps,2020/01/09 22:16:03.201+00,SCarlton@nps.gov_nps,2.747793e+08,541137.314900,34766.279070,d211300a-d239-4a8a-926f-98fc4ed8425d
2,66,ADAM,Lands - http://landsnet.nps.gov/tractsnet/docu...,Adams National Historical Park,2009/06/05 00:00:00+00,MA,NE,1888899,National Historical Park,Lands,https://irma.nps.gov/DataStore/Reference/Profi...,Adams,2020/01/09 22:16:03.201+00,SCarlton@nps.gov_nps,2020/06/04 09:14:38.249+00,RJohnson@nps.gov_nps,1.007998e+05,2163.814646,13.636510,c710a3f8-c12a-4d81-8449-4adae2e4d513
3,53,AFBG,Lands - http://landsnet.nps.gov/tractsnet/docu...,African Burial Ground National Monument,2008/08/19 00:00:00+00,NY,NE,2060434,National Monument,Lands,https://irma.nps.gov/DataStore/Reference/Profi...,African Burial Ground,2020/01/09 22:16:03.201+00,SCarlton@nps.gov_nps,2020/06/04 09:13:00.759+00,RJohnson@nps.gov_nps,2.425184e+03,202.497901,0.343945,b5684779-7189-4ce6-8d11-9fd551b4ed23
4,150,AGFO,Lands - http://landsnet.nps.gov/tractsnet/docu...,Agate Fossil Beds National Monument,2012/11/27 00:00:00+00,NE,MW,826917,National Monument,Lands,https://irma.nps.gov/DataStore/Reference/Profi...,Agate Fossil Beds,2020/01/09 22:16:03.201+00,SCarlton@nps.gov_nps,2020/06/04 09:24:38.035+00,RJohnson@nps.gov_nps,2.262804e+07,35522.309650,3045.134062,096cb4f6-1fea-428c-8bc8-0384f6e80e66

### Points of Interest
- All Points of Interest within each National Park with lat/lng coordinates.
- Complete dataset.

In [9]:
# Data source URL and variable
rawPointsURL = "https://public-nps.opendata.arcgis.com/datasets/nps-points-of-interest-pois-geographic-coordinate-system-1?geometry=79.973%2C-21.130%2C-104.949%2C70.669"
rawPointsFilePath = "data/pointsInterest.csv"
print(f"{rawPointsFilePath} is {round(os.path.getsize(rawPointsFilePath)/1024/1024, 2)} megabytes (MB).\nMore info here:\n{rawPointsURL}")

data/pointsInterest.csv is 14.31 megabytes (MB).
More info here:
https://public-nps.opendata.arcgis.com/datasets/nps-points-of-interest-pois-geographic-coordinate-system-1?geometry=79.973%2C-21.130%2C-104.949%2C70.669

In [10]:
# Read CSV file into DataFrame
rawPoints_df = pd.read_csv(rawPointsFilePath, low_memory = False)
rawPoints_df.head()

,X,Y,OBJECTID,POINAME,POIALTNAME,MAPLABEL,POITYPE,POISTATUS,PUBLICDISPLAY,DATAACCESS,...,OBSERVABLE,ISEXTANT,OPENTOPUBLIC,ALTLANGNAME,ALTLANG,SEASONAL,SEASDESC,MAINTAINER,NOTES,StagingTable
0,-155.793521,58.546282,1,LB- KIOSK Picnic Shelter,NaN,Lake Brooks Picnic Area Shelter,Shelter,NaN,Public Map Display,Unrestricted,...,Unknown,True,Unknown,NaN,NaN,No,NaN,Unknown,95870 LB- KIOSK Picnic Shelter,STAGING_AKR_POIS_ALL_20210423014442
1,-155.793085,58.546349,2,LB- RR Outhouse for Picnic Area,NaN,Lake Brooks Picnic Area Outhouse,Restroom,NaN,Public Map Display,Unrestricted,...,Unknown,True,Unknown,NaN,NaN,No,NaN,Unknown,95875 LB- RR Outhouse for Picnic Area,STAGING_AKR_POIS_ALL_20210423014442
2,-155.781954,58.550747,3,BFT-RR Falls Trail Visitor Comfort Station (2003),NaN,Brooks Falls Trail Comfort Station,Restroom,NaN,Public Map Display,Unrestricted,...,Unknown,True,Unknown,NaN,NaN,No,NaN,Unknown,86629 BFT-RR Falls Trail Visitor Comfort Stati...,STAGING_AKR_POIS_ALL_20210423014442
3,-94.705503,37.843484,4,NaN,NaN,,Entrance / Exit,NaN,Public Map Display,Unrestricted,...,Unknown,Unknown,Unknown,NaN,NaN,Unknown,NaN,Unknown,"{""building"": ""entrance"", ""nps:unit_code"": ""fosc""}",STAGING_MWR_POIS_PLACES_20210423050155
4,-155.605117,58.441668,5,VR-MCF/RR Margot Falls Comfort Station,NaN,Margot Falls Comfort Station,Restroom,NaN,Public Map Display,Unrestricted,...,Unknown,True,Unknown,NaN,NaN,No,NaN,Unknown,90936 VR-MCF/RR Margot Falls Comfort Station,STAGING_AKR_POIS_ALL_20210423014442

### Attendance/Visitors (Recreation Visits)
- Dataset does not include attendance numbers for trails and other unstaffed National Park locations.

In [11]:
# Data source URL and variable
attendanceURL = "https://irma.nps.gov/STATS/SSRSReports/National%20Reports/Annual%20Visitation%20By%20Park%20(1979%20-%20Last%20Calendar%20Year)"
attendanceFilePath = "data/finalAttendance.csv"
print(f"{attendanceFilePath} is {round(os.path.getsize(attendanceFilePath)/1024/1024, 2)} megabytes (MB).\nMore info here:\n{attendanceURL}")

data/finalAttendance.csv is 0.05 megabytes (MB).
More info here:
https://irma.nps.gov/STATS/SSRSReports/National%20Reports/Annual%20Visitation%20By%20Park%20(1979%20-%20Last%20Calendar%20Year)

In [12]:
# Read CSV file into DataFrame
attendance_df = pd.read_csv(attendanceFilePath)
attendance_df.head()

,Code,Park Name,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,Average
0,ABLI,Abraham Lincoln Birthplace NHP,"163,568","169,515","163,928","241,264","148,605","252,495","269,580","260,964","238,226","228,141","213,629"
1,ACAD,Acadia NP,"2,374,645","2,431,052","2,254,922","2,563,129","2,811,184","3,303,393","3,509,271","3,537,575","3,437,286","2,669,034","2,889,149"
2,ADAM,Adams NHP,"219,975","336,031","285,501","178,468","183,632","199,301","255,562","121,007","187,400","6,937","197,381"
3,AFBG,African Burial Ground NM,"108,585","77,624","93,234","54,861","56,348","46,526","43,182","45,035","47,427","7,908","58,073"
4,AGFO,Agate Fossil Beds NM,"11,617","11,824","10,504","12,440","13,264","15,555","32,038","16,238","16,657","8,722","14,886"

# Transform

### A. &nbsp;National Parks (from JSON)

In [13]:
# Transform Location Number (park code) column to all caps
a_df["Location Number"] = a_df["Location Number"].str.upper()
a_df.head()

,Location Number,Location Name,Address,City,State,Zip Code,Phone Number,Fax Number,Latitude,Longitude,Location
0,ABLI,Abraham Lincoln Birthplace National Historical...,2995 Lincoln Farm Road,Hodgenville,Kentucky,42748,(270) 358-3137,(270) 358-3874,37.535671,-85.734064,"{'coordinates': [-85.7340637, 37.535671], 'typ..."
1,ACAD,Acadia National Park,P.O. Box 177,Bar Harbor,ME,4609,(207) 288-3338,(207) 288-8813,44.338556,-68.273335,"{'coordinates': [-68.2733346, 44.3385559], 'ty..."
2,ADAM,Adams National Historical Park,135 Adams Street,Quincy,MA,2169,(617) 770-1175,(617) 472-7562,42.256412,-71.011167,"{'coordinates': [-71.011167, 42.256412], 'type..."
3,AFBG,African Burial Ground National Monument,"290 Broadway, 1st Floor",New York,NY,10007,(212) 637-2019,(212) 227-2026,40.715051,-74.005369,"{'coordinates': [-74.0053687, 40.7150514], 'ty..."
4,ALKA,Ala Kahakai National Historic Trail,"73-4786 Kanalani Street, #14",Kailua-Kona,Hawaii,96740,0,(808) 329-2597,19.689206,-156.021329,"{'coordinates': [-156.021329, 19.689206], 'typ..."

In [14]:
# Drop unnecessary columns
a_df.drop(columns = ["Address", "City", "State", "Zip Code", "Phone Number", "Fax Number", "Location"], inplace = True)
a_df.head()

,Location Number,Location Name,Latitude,Longitude
0,ABLI,Abraham Lincoln Birthplace National Historical...,37.535671,-85.734064
1,ACAD,Acadia National Park,44.338556,-68.273335
2,ADAM,Adams National Historical Park,42.256412,-71.011167
3,AFBG,African Burial Ground National Monument,40.715051,-74.005369
4,ALKA,Ala Kahakai National Historic Trail,19.689206,-156.021329

In [15]:
# Rename columns
a_df = a_df.rename(columns = {"Location Number":"Code", "Location Name":"Name"})
a_df.head()

,Code,Name,Latitude,Longitude
0,ABLI,Abraham Lincoln Birthplace National Historical...,37.535671,-85.734064
1,ACAD,Acadia National Park,44.338556,-68.273335
2,ADAM,Adams National Historical Park,42.256412,-71.011167
3,AFBG,African Burial Ground National Monument,40.715051,-74.005369
4,ALKA,Ala Kahakai National Historic Trail,19.689206,-156.021329

### B. &nbsp;National Parks (from CSV)

In [16]:
# Create new DataFrame with only desired columns
b_df = bRaw_df[["UNIT_CODE", "UNIT_NAME"]].copy()
b_df.head()

  UNIT_CODE                                   UNIT_NAME
0      AMME                      American Memorial Park
1      EBLA  Ebey's Landing National Historical Reserve
2      LARO     Lake Roosevelt National Recreation Area
3      OLYM                       Olympic National Park
4      ACAD                        Acadia National Park

In [17]:
# Rename columns
b_df = b_df.rename(columns = {"UNIT_CODE":"Code", "UNIT_NAME":"Name"})
b_df.head()

   Code                                        Name
0  AMME                      American Memorial Park
1  EBLA  Ebey's Landing National Historical Reserve
2  LARO     Lake Roosevelt National Recreation Area
3  OLYM                       Olympic National Park
4  ACAD                        Acadia National Park

In [18]:
# Sort DataFrame by National Park name
b_df.sort_values(by = ["Name"], ascending = True, inplace = True)
b_df.head()

     Code                                               Name
63   ABLI  Abraham Lincoln Birthplace National Historical...
4    ACAD                               Acadia National Park
88   ADAM                     Adams National Historical Park
76   AFBG            African Burial Ground National Monument
172  AGFO                Agate Fossil Beds National Monument

In [19]:
# Reset index in place
b_df.reset_index(inplace = True, drop = True)
b_df.head()

   Code                                               Name
0  ABLI  Abraham Lincoln Birthplace National Historical...
1  ACAD                               Acadia National Park
2  ADAM                     Adams National Historical Park
3  AFBG            African Burial Ground National Monument
4  AGFO                Agate Fossil Beds National Monument

##### *Merge A and B DataFrames to create one list of National Parks DataFrame*

In [20]:
# Merge DataFrames
natParksRaw_df = pd.merge(b_df, a_df, how = "left", left_on = "Code", right_on = "Code")
natParksRaw_df

,Code,Name_x,Name_y,Latitude,Longitude
0,ABLI,Abraham Lincoln Birthplace National Historical...,Abraham Lincoln Birthplace National Historical...,37.535671,-85.734064
1,ACAD,Acadia National Park,Acadia National Park,44.338556,-68.273335
2,ADAM,Adams National Historical Park,Adams National Historical Park,42.256412,-71.011167
3,AFBG,African Burial Ground National Monument,African Burial Ground National Monument,40.715051,-74.005369
4,AGFO,Agate Fossil Beds National Monument,NaN,NaN,NaN
...,...,...,...,...,...
421,YELL,Yellowstone National Park,Yellowstone National Park,44.462085,-110.642441
422,YOSE,Yosemite National Park,Yosemite National Park,37.719000,-119.557168
423,YUHO,Yucca House National Monument,Yucca House National Monument,37.167480,-108.525539
424,YUCH,Yukon-Charley Rivers National Preserve,Yukon Charley Rivers National Preserve,64.789430,-141.202849
425,ZION,Zion National Park,Zion National Park,37.240801,-112.941626

In [21]:
# Drop unnecessary columns
natParksRaw_df.drop(columns = ["Name_y"], inplace = True)
natParksRaw_df.head()

,Code,Name_x,Latitude,Longitude
0,ABLI,Abraham Lincoln Birthplace National Historical...,37.535671,-85.734064
1,ACAD,Acadia National Park,44.338556,-68.273335
2,ADAM,Adams National Historical Park,42.256412,-71.011167
3,AFBG,African Burial Ground National Monument,40.715051,-74.005369
4,AGFO,Agate Fossil Beds National Monument,NaN,NaN

In [22]:
# Rename columns
natParksRaw_df = natParksRaw_df.rename(columns = {"Name_x":"Name"})
natParksRaw_df.head()

,Code,Name,Latitude,Longitude
0,ABLI,Abraham Lincoln Birthplace National Historical...,37.535671,-85.734064
1,ACAD,Acadia National Park,44.338556,-68.273335
2,ADAM,Adams National Historical Park,42.256412,-71.011167
3,AFBG,African Burial Ground National Monument,40.715051,-74.005369
4,AGFO,Agate Fossil Beds National Monument,NaN,NaN

In [23]:
# DataFrame size
natParksRaw_df.shape

(426, 4)

In [24]:
# Check number of unique values in Code column
a = len(pd.unique(natParksRaw_df["Code"]))
a

418

In [25]:
# Identify rows with duplicate value in Code column
duplicates_df = natParksRaw_df[natParksRaw_df.duplicated("Code")]
duplicates_df

     Code                                   Name   Latitude   Longitude
14   ANIA            Aniakchak National Preserve  58.756222 -156.517240
104  DENA               Denali National Preserve  63.729685 -148.766697
156  GAAR  Gates of the Arctic National Preserve  67.251868 -150.184189
168  GLBA          Glacier Bay National Preserve  58.831877 -136.998795
180  GRSA     Great Sand Dunes National Preserve  37.727592 -105.641253
223  KATM               Katmai National Preserve  58.756222 -156.517240
235  LACL           Lake Clark National Preserve  61.217357 -149.886172
418  WRST   Wrangell-St. Elias National Preserve  61.561500 -143.852310

In [26]:
# Drop rows with duplicates in Code column (acreage is totaled on first row of duplicates on natParksArea CSV)
natParksRaw_df = natParksRaw_df.drop_duplicates(subset = "Code", keep = "first")
natParksRaw_df

,Code,Name,Latitude,Longitude
0,ABLI,Abraham Lincoln Birthplace National Historical...,37.535671,-85.734064
1,ACAD,Acadia National Park,44.338556,-68.273335
2,ADAM,Adams National Historical Park,42.256412,-71.011167
3,AFBG,African Burial Ground National Monument,40.715051,-74.005369
4,AGFO,Agate Fossil Beds National Monument,NaN,NaN
...,...,...,...,...
421,YELL,Yellowstone National Park,44.462085,-110.642441
422,YOSE,Yosemite National Park,37.719000,-119.557168
423,YUHO,Yucca House National Monument,37.167480,-108.525539
424,YUCH,Yukon-Charley Rivers National Preserve,64.789430,-141.202849
425,ZION,Zion National Park,37.240801,-112.941626

In [27]:
# Create DataFrame from rows with missing lat/lng values
null_df = natParksRaw_df[natParksRaw_df.isnull().any(axis = 1)]
null_df

,Code,Name,Latitude,Longitude
4,AGFO,Agate Fossil Beds National Monument,NaN,NaN
7,ALFL,Alibates Flint Quarries National Monument,NaN,NaN
18,APCO,Appomattox Court House National Historical Park,NaN,NaN
21,ARHO,"Arlington House, The Robert E. Lee Memorial",NaN,NaN
26,BEPA,Belmont-Paul Women's Equality National Monument,NaN,NaN
...,...,...,...,...
411,WICR,Wilson's Creek National Battlefield,NaN,NaN
412,WICA,Wind Cave National Park,NaN,NaN
413,WOTR,Wolf Trap National Park for the Performing Arts,NaN,NaN
415,WWIM,World War I Memorial,NaN,NaN
416,WWII,World War II Memorial,NaN,NaN

In [28]:
# Check number of unique values in Code column
b = len(pd.unique(null_df["Code"]))
b

102

In [29]:
# # Export DataFrame to CSV for manual lat/lng entry
# null_df.to_csv("data/missingCoordinates.csv")

In [30]:
# Read CSV file into DataFrame
missingCoordinates_df = pd.read_csv("data/missingCoordinates.csv", encoding = "iso-8859-1")
missingCoordinates_df

,Unnamed: 0,Code,Name,Latitude,Longitude
0,4,AGFO,Agate Fossil Beds National Monument,42.421703,-103.75388
1,7,ALFL,Alibates Flint Quarries National Monument,35.575045,-101.683787
2,18,APCO,Appomattox Court House National Historical Park,37.377500,-78.796
3,21,ARHO,"Arlington House, The Robert E. Lee Memorial",38.882153,-77.073524
4,26,BEPA,Belmont-Paul Women's Equality National Monument,38.891944,-77.003611
...,...,...,...,...,...
97,411,WICR,Wilson's Creek National Battlefield,37.115556,-93.42
98,412,WICA,Wind Cave National Park,43.556350,-103.47865
99,413,WOTR,Wolf Trap National Park for the Performing Arts,38.936944,-77.261944
100,415,WWIM,World War I Memorial,38.896111,-77.032778
101,416,WWII,World War II Memorial,38.889400,-77.040517

In [31]:
# Drop unwanted space from strings in Longitude column
missingCoordinates_df["Longitude"] = missingCoordinates_df["Longitude"].str.replace(" ", "")
missingCoordinates_df

,Unnamed: 0,Code,Name,Latitude,Longitude
0,4,AGFO,Agate Fossil Beds National Monument,42.421703,-103.75388
1,7,ALFL,Alibates Flint Quarries National Monument,35.575045,-101.683787
2,18,APCO,Appomattox Court House National Historical Park,37.377500,-78.796
3,21,ARHO,"Arlington House, The Robert E. Lee Memorial",38.882153,-77.073524
4,26,BEPA,Belmont-Paul Women's Equality National Monument,38.891944,-77.003611
...,...,...,...,...,...
97,411,WICR,Wilson's Creek National Battlefield,37.115556,-93.42
98,412,WICA,Wind Cave National Park,43.556350,-103.47865
99,413,WOTR,Wolf Trap National Park for the Performing Arts,38.936944,-77.261944
100,415,WWIM,World War I Memorial,38.896111,-77.032778
101,416,WWII,World War II Memorial,38.889400,-77.040517

In [32]:
# Drop unnecessary column
missingCoordinates_df.drop(columns = ["Unnamed: 0"], inplace = True)
missingCoordinates_df.head()

,Code,Name,Latitude,Longitude
0,AGFO,Agate Fossil Beds National Monument,42.421703,-103.75388
1,ALFL,Alibates Flint Quarries National Monument,35.575045,-101.683787
2,APCO,Appomattox Court House National Historical Park,37.377500,-78.796
3,ARHO,"Arlington House, The Robert E. Lee Memorial",38.882153,-77.073524
4,BEPA,Belmont-Paul Women's Equality National Monument,38.891944,-77.003611

In [33]:
# Convert Longitude column to float
missingCoordinates_df["Longitude"] = missingCoordinates_df["Longitude"].astype(float)
missingCoordinates_df

,Code,Name,Latitude,Longitude
0,AGFO,Agate Fossil Beds National Monument,42.421703,-103.753880
1,ALFL,Alibates Flint Quarries National Monument,35.575045,-101.683787
2,APCO,Appomattox Court House National Historical Park,37.377500,-78.796000
3,ARHO,"Arlington House, The Robert E. Lee Memorial",38.882153,-77.073524
4,BEPA,Belmont-Paul Women's Equality National Monument,38.891944,-77.003611
...,...,...,...,...
97,WICR,Wilson's Creek National Battlefield,37.115556,-93.420000
98,WICA,Wind Cave National Park,43.556350,-103.478650
99,WOTR,Wolf Trap National Park for the Performing Arts,38.936944,-77.261944
100,WWIM,World War I Memorial,38.896111,-77.032778
101,WWII,World War II Memorial,38.889400,-77.040517

In [34]:
# Data types
missingCoordinates_df.dtypes

Code          object
Name          object
Latitude     float64
Longitude    float64
dtype: object

##### *Merge National Parks and Missing Coordinates DataFrames*

In [35]:
# Merge DataFrames
np_df = natParksRaw_df.merge(missingCoordinates_df, how = "left", left_on = "Code", right_on = "Code")
np_df["Latitude_x"].fillna(np_df["Latitude_y"], inplace = True)
np_df["Longitude_x"].fillna(np_df["Longitude_y"], inplace = True)
np_df

,Code,Name_x,Latitude_x,Longitude_x,Name_y,Latitude_y,Longitude_y
0,ABLI,Abraham Lincoln Birthplace National Historical...,37.535671,-85.734064,NaN,NaN,NaN
1,ACAD,Acadia National Park,44.338556,-68.273335,NaN,NaN,NaN
2,ADAM,Adams National Historical Park,42.256412,-71.011167,NaN,NaN,NaN
3,AFBG,African Burial Ground National Monument,40.715051,-74.005369,NaN,NaN,NaN
4,AGFO,Agate Fossil Beds National Monument,42.421703,-103.753880,Agate Fossil Beds National Monument,42.421703,-103.75388
...,...,...,...,...,...,...,...
413,YELL,Yellowstone National Park,44.462085,-110.642441,NaN,NaN,NaN
414,YOSE,Yosemite National Park,37.719000,-119.557168,NaN,NaN,NaN
415,YUHO,Yucca House National Monument,37.167480,-108.525539,NaN,NaN,NaN
416,YUCH,Yukon-Charley Rivers National Preserve,64.789430,-141.202849,NaN,NaN,NaN
417,ZION,Zion National Park,37.240801,-112.941626,NaN,NaN,NaN

In [36]:
# Check number of unique values in Code column
c = len(pd.unique(np_df["Code"]))
c

418

In [37]:
# Drop unnecessary columns
np_df.drop(columns = ["Name_y", "Latitude_y", "Longitude_y"], inplace = True)
np_df.head()

,Code,Name_x,Latitude_x,Longitude_x
0,ABLI,Abraham Lincoln Birthplace National Historical...,37.535671,-85.734064
1,ACAD,Acadia National Park,44.338556,-68.273335
2,ADAM,Adams National Historical Park,42.256412,-71.011167
3,AFBG,African Burial Ground National Monument,40.715051,-74.005369
4,AGFO,Agate Fossil Beds National Monument,42.421703,-103.753880

In [38]:
# Rename columns
np_df = np_df.rename(columns = {"Name_x":"Name", "Latitude_x":"Latitude", "Longitude_x":"Longitude"})
np_df

,Code,Name,Latitude,Longitude
0,ABLI,Abraham Lincoln Birthplace National Historical...,37.535671,-85.734064
1,ACAD,Acadia National Park,44.338556,-68.273335
2,ADAM,Adams National Historical Park,42.256412,-71.011167
3,AFBG,African Burial Ground National Monument,40.715051,-74.005369
4,AGFO,Agate Fossil Beds National Monument,42.421703,-103.753880
...,...,...,...,...
413,YELL,Yellowstone National Park,44.462085,-110.642441
414,YOSE,Yosemite National Park,37.719000,-119.557168
415,YUHO,Yucca House National Monument,37.167480,-108.525539
416,YUCH,Yukon-Charley Rivers National Preserve,64.789430,-141.202849
417,ZION,Zion National Park,37.240801,-112.941626

In [39]:
# DataFrame size
np_df.shape

(418, 4)

### C. &nbsp;National Parks with Size in Acres (from CSV)

In [40]:
# Create new DataFrame with only desired columns
c_df = cRaw_df[["UNIT_CODE", "UNIT_NAME", "Shape__Acreage"]].copy()
c_df.head()

  UNIT_CODE                                          UNIT_NAME  Shape__Acreage
0      ABLI  Abraham Lincoln Birthplace National Historical...      338.751431
1      ACAD                               Acadia National Park    34766.279070
2      ADAM                     Adams National Historical Park       13.636510
3      AFBG            African Burial Ground National Monument        0.343945
4      AGFO                Agate Fossil Beds National Monument     3045.134062

In [41]:
# Rename columns
c_df = c_df.rename(columns = {"UNIT_CODE":"Code", "UNIT_NAME":"Name", "Shape__Acreage":"Area"})
c_df.head()

   Code                                               Name          Area
0  ABLI  Abraham Lincoln Birthplace National Historical...    338.751431
1  ACAD                               Acadia National Park  34766.279070
2  ADAM                     Adams National Historical Park     13.636510
3  AFBG            African Burial Ground National Monument      0.343945
4  AGFO                Agate Fossil Beds National Monument   3045.134062

In [42]:
# Sort DataFrame by National Park name
c_df.sort_values(by = ["Name"], ascending = True, inplace = True)
c_df.head()

   Code                                               Name          Area
0  ABLI  Abraham Lincoln Birthplace National Historical...    338.751431
1  ACAD                               Acadia National Park  34766.279070
2  ADAM                     Adams National Historical Park     13.636510
3  AFBG            African Burial Ground National Monument      0.343945
4  AGFO                Agate Fossil Beds National Monument   3045.134062

In [43]:
# Reset index in place
c_df.reset_index(inplace = True, drop = True)
c_df

     Code                                               Name          Area
0    ABLI  Abraham Lincoln Birthplace National Historical...  3.387514e+02
1    ACAD                               Acadia National Park  3.476628e+04
2    ADAM                     Adams National Historical Park  1.363651e+01
3    AFBG            African Burial Ground National Monument  3.439449e-01
4    AGFO                Agate Fossil Beds National Monument  3.045134e+03
..    ...                                                ...           ...
414  YELL                          Yellowstone National Park  2.199456e+06
415  YOSE                             Yosemite National Park  7.459013e+05
416  YUHO                      Yucca House National Monument  3.561132e+01
417  YUCH             Yukon-Charley Rivers National Preserve  2.522690e+06
418  ZION                                 Zion National Park  1.487091e+05

[419 rows x 3 columns]

In [44]:
# Check number of unique values in Code column
d = len(pd.unique(c_df["Code"]))
d

419

In [45]:
# DataFrame size
c_df.shape

(419, 3)

##### *Merge National Parks and National Parks Area DataFrames*

In [46]:
# Merge DataFrames
natParksArea_df = np_df.merge(c_df, how = "left", left_on = "Code", right_on = "Code")
natParksArea_df

,Code,Name_x,Latitude,Longitude,Name_y,Area
0,ABLI,Abraham Lincoln Birthplace National Historical...,37.535671,-85.734064,Abraham Lincoln Birthplace National Historical...,3.387514e+02
1,ACAD,Acadia National Park,44.338556,-68.273335,Acadia National Park,3.476628e+04
2,ADAM,Adams National Historical Park,42.256412,-71.011167,Adams National Historical Park,1.363651e+01
3,AFBG,African Burial Ground National Monument,40.715051,-74.005369,African Burial Ground National Monument,3.439449e-01
4,AGFO,Agate Fossil Beds National Monument,42.421703,-103.753880,Agate Fossil Beds National Monument,3.045134e+03
...,...,...,...,...,...,...
413,YELL,Yellowstone National Park,44.462085,-110.642441,Yellowstone National Park,2.199456e+06
414,YOSE,Yosemite National Park,37.719000,-119.557168,Yosemite National Park,7.459013e+05
415,YUHO,Yucca House National Monument,37.167480,-108.525539,Yucca House National Monument,3.561132e+01
416,YUCH,Yukon-Charley Rivers National Preserve,64.789430,-141.202849,Yukon-Charley Rivers National Preserve,2.522690e+06
417,ZION,Zion National Park,37.240801,-112.941626,Zion National Park,1.487091e+05

In [47]:
# Check number of unique values in Code column
e = len(pd.unique(natParksArea_df["Code"]))
e

418

In [48]:
# Drop unnecessary columns
natParksArea_df.drop(columns = ["Name_y"], inplace = True)
natParksArea_df.head()

,Code,Name_x,Latitude,Longitude,Area
0,ABLI,Abraham Lincoln Birthplace National Historical...,37.535671,-85.734064,338.751431
1,ACAD,Acadia National Park,44.338556,-68.273335,34766.279070
2,ADAM,Adams National Historical Park,42.256412,-71.011167,13.636510
3,AFBG,African Burial Ground National Monument,40.715051,-74.005369,0.343945
4,AGFO,Agate Fossil Beds National Monument,42.421703,-103.753880,3045.134062

In [49]:
# Rename columns
natParksArea_df = natParksArea_df.rename(columns = {"Name_x":"Name"})
natParksArea_df

,Code,Name,Latitude,Longitude,Area
0,ABLI,Abraham Lincoln Birthplace National Historical...,37.535671,-85.734064,3.387514e+02
1,ACAD,Acadia National Park,44.338556,-68.273335,3.476628e+04
2,ADAM,Adams National Historical Park,42.256412,-71.011167,1.363651e+01
3,AFBG,African Burial Ground National Monument,40.715051,-74.005369,3.439449e-01
4,AGFO,Agate Fossil Beds National Monument,42.421703,-103.753880,3.045134e+03
...,...,...,...,...,...
413,YELL,Yellowstone National Park,44.462085,-110.642441,2.199456e+06
414,YOSE,Yosemite National Park,37.719000,-119.557168,7.459013e+05
415,YUHO,Yucca House National Monument,37.167480,-108.525539,3.561132e+01
416,YUCH,Yukon-Charley Rivers National Preserve,64.789430,-141.202849,2.522690e+06
417,ZION,Zion National Park,37.240801,-112.941626,1.487091e+05

In [50]:
# Reset index in place
natParksArea_df.reset_index(inplace = True, drop = True)
natParksArea_df

,Code,Name,Latitude,Longitude,Area
0,ABLI,Abraham Lincoln Birthplace National Historical...,37.535671,-85.734064,3.387514e+02
1,ACAD,Acadia National Park,44.338556,-68.273335,3.476628e+04
2,ADAM,Adams National Historical Park,42.256412,-71.011167,1.363651e+01
3,AFBG,African Burial Ground National Monument,40.715051,-74.005369,3.439449e-01
4,AGFO,Agate Fossil Beds National Monument,42.421703,-103.753880,3.045134e+03
...,...,...,...,...,...
413,YELL,Yellowstone National Park,44.462085,-110.642441,2.199456e+06
414,YOSE,Yosemite National Park,37.719000,-119.557168,7.459013e+05
415,YUHO,Yucca House National Monument,37.167480,-108.525539,3.561132e+01
416,YUCH,Yukon-Charley Rivers National Preserve,64.789430,-141.202849,2.522690e+06
417,ZION,Zion National Park,37.240801,-112.941626,1.487091e+05

In [51]:
# DataFrame size
natParksArea_df.shape

(418, 5)

In [52]:
# Create DataFrame to look for rows with NaN values
nullArea_df = natParksArea_df[natParksArea_df.isnull().any(axis = 1)]
nullArea_df

   Code                                 Name   Latitude   Longitude  Area
5  ALKA  Ala Kahakai National Historic Trail  19.689206 -156.021329   NaN

In [53]:
# Append missing acreage area to ALKA
natParksArea_df["Area"][5] = 424.242424

/Users/cieramorris/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### D. &nbsp;Points of Interest (from CSV)

In [54]:
# Create new DataFrame with only desired columns
allPoints_df = rawPoints_df[["MAPLABEL", "POITYPE", "Y", "X"]].copy()
allPoints_df

,MAPLABEL,POITYPE,Y,X
0,Lake Brooks Picnic Area Shelter,Shelter,58.546282,-155.793521
1,Lake Brooks Picnic Area Outhouse,Restroom,58.546349,-155.793085
2,Brooks Falls Trail Comfort Station,Restroom,58.550747,-155.781954
3,,Entrance / Exit,37.843484,-94.705503
4,Margot Falls Comfort Station,Restroom,58.441668,-155.605117
...,...,...,...,...
32617,Cataloochee Horse Camp,Litter Receptacle,35.629392,-83.115815
32618,Elkmont CG Road G,Dumpster,35.661311,-83.586168
32619,Tremont Institute Parking #2,Parking Lot,35.641874,-83.689806
32620,,Mile Marker,34.912776,-87.853885
32621,Parking Lot,Parking Lot,30.439240,-81.437981

In [55]:
# Rename columns
allPoints_df = allPoints_df.rename(columns = {"MAPLABEL":"Name", "POITYPE":"Type", "Y":"Latitude", "X":"Longitude"})
allPoints_df.head()

                                 Name             Type   Latitude   Longitude
0     Lake Brooks Picnic Area Shelter          Shelter  58.546282 -155.793521
1    Lake Brooks Picnic Area Outhouse         Restroom  58.546349 -155.793085
2  Brooks Falls Trail Comfort Station         Restroom  58.550747 -155.781954
3                                      Entrance / Exit  37.843484  -94.705503
4        Margot Falls Comfort Station         Restroom  58.441668 -155.605117

In [56]:
# Transform blank string values to NaN values
allPoints_df["Name"].replace(" ", np.nan, inplace = True)
allPoints_df

,Name,Type,Latitude,Longitude
0,Lake Brooks Picnic Area Shelter,Shelter,58.546282,-155.793521
1,Lake Brooks Picnic Area Outhouse,Restroom,58.546349,-155.793085
2,Brooks Falls Trail Comfort Station,Restroom,58.550747,-155.781954
3,NaN,Entrance / Exit,37.843484,-94.705503
4,Margot Falls Comfort Station,Restroom,58.441668,-155.605117
...,...,...,...,...
32617,Cataloochee Horse Camp,Litter Receptacle,35.629392,-83.115815
32618,Elkmont CG Road G,Dumpster,35.661311,-83.586168
32619,Tremont Institute Parking #2,Parking Lot,35.641874,-83.689806
32620,NaN,Mile Marker,34.912776,-87.853885
32621,Parking Lot,Parking Lot,30.439240,-81.437981

In [57]:
# Drop rows containing NaN values
allPoints_df.dropna(subset = ["Name"], inplace = True)
allPoints_df

,Name,Type,Latitude,Longitude
0,Lake Brooks Picnic Area Shelter,Shelter,58.546282,-155.793521
1,Lake Brooks Picnic Area Outhouse,Restroom,58.546349,-155.793085
2,Brooks Falls Trail Comfort Station,Restroom,58.550747,-155.781954
4,Margot Falls Comfort Station,Restroom,58.441668,-155.605117
6,Campground Lean-to,Shelter,58.560077,-155.777895
...,...,...,...,...
32615,BS40 Charit Creek Old Log Barn,Building,36.536897,-84.727637
32617,Cataloochee Horse Camp,Litter Receptacle,35.629392,-83.115815
32618,Elkmont CG Road G,Dumpster,35.661311,-83.586168
32619,Tremont Institute Parking #2,Parking Lot,35.641874,-83.689806
32621,Parking Lot,Parking Lot,30.439240,-81.437981

In [58]:
# Reset index in place
allPoints_df.reset_index(inplace = True, drop = True)
allPoints_df.head()

                                 Name      Type   Latitude   Longitude
0     Lake Brooks Picnic Area Shelter   Shelter  58.546282 -155.793521
1    Lake Brooks Picnic Area Outhouse  Restroom  58.546349 -155.793085
2  Brooks Falls Trail Comfort Station  Restroom  58.550747 -155.781954
3        Margot Falls Comfort Station  Restroom  58.441668 -155.605117
4                  Campground Lean-to   Shelter  58.560077 -155.777895

In [59]:
# # List all points of interest types
# allPoints_df["Type"].unique()

In [60]:
# Data types
allPoints_df.dtypes

Name          object
Type          object
Latitude     float64
Longitude    float64
dtype: object

##### Parking Lots DataFrame

In [61]:
# Declare boolean variable to filter by parking lots
parkingLots = allPoints_df["Type"] == "Parking Lot"

In [62]:
# Create new DataFrame filtered on parking lots
parking_df = allPoints_df[parkingLots]
parking_df

                                     Name         Type   Latitude   Longitude
537                           Parking Lot  Parking Lot  58.454083 -135.885648
538                     Overnight Parking  Parking Lot  58.452988 -135.887529
558             East Entrance Parking Lot  Parking Lot  57.049780 -135.313993
614      Visitor Center Upper Parking Lot  Parking Lot  57.049293 -135.319331
615      Visitor Center Lower Parking Lot  Parking Lot  57.048806 -135.319407
...                                   ...          ...        ...         ...
25038                             Parking  Parking Lot  25.440434  -80.783261
25043  Sinks Bridge And Trailhead Parking  Parking Lot  35.669477  -83.662081
25045  Pullout Parking At Mile Post 13.68  Parking Lot  35.619673  -83.420680
25054        Tremont Institute Parking #2  Parking Lot  35.641874  -83.689806
25055                         Parking Lot  Parking Lot  30.439240  -81.437981

[2499 rows x 4 columns]

In [63]:
# Rename columns for SQL compatibility
parking_df = parking_df.rename(columns = {"Name":"name", "Type":"type", "Latitude":"latitude", "Longitude":"longitude"})
parking_df.head()

                                 name         type   latitude   longitude
537                       Parking Lot  Parking Lot  58.454083 -135.885648
538                 Overnight Parking  Parking Lot  58.452988 -135.887529
558         East Entrance Parking Lot  Parking Lot  57.049780 -135.313993
614  Visitor Center Upper Parking Lot  Parking Lot  57.049293 -135.319331
615  Visitor Center Lower Parking Lot  Parking Lot  57.048806 -135.319407

In [64]:
# Reset index in place
parking_df.reset_index(inplace = True, drop = True)
parking_df.head()

                               name         type   latitude   longitude
0                       Parking Lot  Parking Lot  58.454083 -135.885648
1                 Overnight Parking  Parking Lot  58.452988 -135.887529
2         East Entrance Parking Lot  Parking Lot  57.049780 -135.313993
3  Visitor Center Upper Parking Lot  Parking Lot  57.049293 -135.319331
4  Visitor Center Lower Parking Lot  Parking Lot  57.048806 -135.319407

##### Points of Interest: &nbsp;Activities & Sports

In [65]:
# Create new DataFrame filtered on desired type values
sportsActivities_df = allPoints_df[(allPoints_df.Type == "Athletic Field") |
                                   (allPoints_df.Type == "Ballfield") |
                                   (allPoints_df.Type == "Baseball/Softball") |
                                   (allPoints_df.Type == "Basketball") |
                                   (allPoints_df.Type == "Beach") |
                                   (allPoints_df.Type == "Bicycle Trail") |
                                   (allPoints_df.Type == "Cross-Country Ski Trail") |
                                   (allPoints_df.Type == "Downhill Ski Trail") |
                                   (allPoints_df.Type == "Fish Cleaning") |
                                   (allPoints_df.Type == "Fishing") |
                                   (allPoints_df.Type == "Four-wheel Drive Trail") |
                                   (allPoints_df.Type == "Golf Course") |
                                   (allPoints_df.Type == "Horseback Riding") |
                                   (allPoints_df.Type == "Horseback Riding/Stable") |
                                   (allPoints_df.Type == "Ice Rink") |
                                   (allPoints_df.Type == "Motorized Trail") |
                                   (allPoints_df.Type == "Non-Motorized Trail") |
                                   (allPoints_df.Type == "Playground") |
                                   (allPoints_df.Type == "Roller Skating") |
                                   (allPoints_df.Type == "Scuba Diving") |
                                   (allPoints_df.Type == "Sledding") |
                                   (allPoints_df.Type == "Soccer") |
                                   (allPoints_df.Type == "Stable") |
                                   (allPoints_df.Type == "Swim Club") |
                                   (allPoints_df.Type == "Swimming Area") |
                                   (allPoints_df.Type == "Tennis") |
                                   (allPoints_df.Type == "Tennis Court") |
                                   (allPoints_df.Type == "Trail") |
                                   (allPoints_df.Type == "Trail Marker") |
                                   (allPoints_df.Type == "Trail Register") |
                                   (allPoints_df.Type == "Trail Sign") |
                                   (allPoints_df.Type == "Trailhead") |
                                   (allPoints_df.Type == "Volleyball")]
sportsActivities_df

,Name,Type,Latitude,Longitude
50,Playground,Playground,40.565431,-73.872629
424,Lost Lake Trailhead,Trailhead,59.520735,-135.358468
427,Kotsina River Trailhead,Trailhead,61.512750,-144.077740
428,Crystalline Hills Trailhead,Trailhead,61.378931,-143.617087
431,Suslota Lake Trailhead,Trailhead,62.625298,-143.716398
...,...,...,...,...
24945,Meriwether Lewis Trail,Trailhead,35.528533,-87.453438
24991,Lawson Jenkins-Kerr Cemetery Access Trailhead,Trailhead,35.668878,-83.072870
25002,WW26,Trail Marker,25.501584,-81.041981
25009,Bote Mountain Trail Trailhead,Trailhead,35.628098,-83.725556
25044,Beaverdam Gap Overlook MP 401.7,Trailhead,35.453876,-82.680154

In [66]:
# Rename columns for SQL compatibility
sportsActivities_df = sportsActivities_df.rename(columns = {"Name":"name", "Type":"type", "Latitude":"latitude",
                                                            "Longitude":"longitude"})
sportsActivities_df.head()

                            name        type   latitude   longitude
50                    Playground  Playground  40.565431  -73.872629
424          Lost Lake Trailhead   Trailhead  59.520735 -135.358468
427      Kotsina River Trailhead   Trailhead  61.512750 -144.077740
428  Crystalline Hills Trailhead   Trailhead  61.378931 -143.617087
431       Suslota Lake Trailhead   Trailhead  62.625298 -143.716398

In [67]:
# Reset index in place
sportsActivities_df.reset_index(inplace = True, drop = True)
sportsActivities_df.head()

                          name        type   latitude   longitude
0                   Playground  Playground  40.565431  -73.872629
1          Lost Lake Trailhead   Trailhead  59.520735 -135.358468
2      Kotsina River Trailhead   Trailhead  61.512750 -144.077740
3  Crystalline Hills Trailhead   Trailhead  61.378931 -143.617087
4       Suslota Lake Trailhead   Trailhead  62.625298 -143.716398

##### Points of Interest: &nbsp;Amenities

In [68]:
# Create new DataFrame filtered on desired type values
amenities_df = allPoints_df[(allPoints_df.Type == "ATM") |
                            (allPoints_df.Type == "Automated Fee Machine") |
                            (allPoints_df.Type == "Brochure Box") |
                            (allPoints_df.Type == "Directional Sign") |
                            (allPoints_df.Type == "Fee Booth") |
                            (allPoints_df.Type == "Food Concession") |
                            (allPoints_df.Type == "Food Service") |
                            (allPoints_df.Type == "Gas Station") |
                            (allPoints_df.Type == "Gift Shop") |
                            (allPoints_df.Type == "InfoKiosk") |
                            (allPoints_df.Type == "Information") |
                            (allPoints_df.Type == "Information Board") |
                            (allPoints_df.Type == "Information Map") |
                            (allPoints_df.Type == "NPS Office") |
                            (allPoints_df.Type == "Office") |
                            (allPoints_df.Type == "Park Office") |
                            (allPoints_df.Type == "Post Office") |
                            (allPoints_df.Type == "Regulatory Sign") |
                            (allPoints_df.Type == "Restroom") |
                            (allPoints_df.Type == "Retail Building") |
                            (allPoints_df.Type == "Retail Concession") |
                            (allPoints_df.Type == "Store") |
                            (allPoints_df.Type == "Telephone") |
                            (allPoints_df.Type == "Visitor Center") |
                            (allPoints_df.Type == "Wheelchair Accessible")]
amenities_df

,Name,Type,Latitude,Longitude
1,Lake Brooks Picnic Area Outhouse,Restroom,58.546349,-155.793085
2,Brooks Falls Trail Comfort Station,Restroom,58.550747,-155.781954
3,Margot Falls Comfort Station,Restroom,58.441668,-155.605117
11,Brooks Camp Visitor Center,Visitor Center,58.556136,-155.778200
18,Brooks Lodge Guest Shower/Restroom,Restroom,58.555560,-155.778564
...,...,...,...,...
24970,Cades Cove Campground Comfort Station,Restroom,35.602817,-83.772272
24993,North Nest Key Wilderness Area,Regulatory Sign,25.150657,-80.514334
25006,Guy Bradley Visitor Center,Visitor Center,25.140877,-80.924099
25017,Mabry Mill Restaurant & Gift Shop,Food Service,36.749878,-80.404958
25018,Abrams Creek Campground Comfort Station,Restroom,35.611266,-83.933001

In [69]:
# Rename columns for SQL compatibility
amenities_df = amenities_df.rename(columns = {"Name":"name", "Type":"type", "Latitude":"latitude",
                                              "Longitude":"longitude"})
amenities_df.head()

                                  name            type   latitude   longitude
1     Lake Brooks Picnic Area Outhouse        Restroom  58.546349 -155.793085
2   Brooks Falls Trail Comfort Station        Restroom  58.550747 -155.781954
3         Margot Falls Comfort Station        Restroom  58.441668 -155.605117
11          Brooks Camp Visitor Center  Visitor Center  58.556136 -155.778200
18  Brooks Lodge Guest Shower/Restroom        Restroom  58.555560 -155.778564

In [70]:
# Reset index in place
amenities_df.reset_index(inplace = True, drop = True)
amenities_df.head()

                                 name            type   latitude   longitude
0    Lake Brooks Picnic Area Outhouse        Restroom  58.546349 -155.793085
1  Brooks Falls Trail Comfort Station        Restroom  58.550747 -155.781954
2        Margot Falls Comfort Station        Restroom  58.441668 -155.605117
3          Brooks Camp Visitor Center  Visitor Center  58.556136 -155.778200
4  Brooks Lodge Guest Shower/Restroom        Restroom  58.555560 -155.778564

##### Points of Interest: &nbsp;Attractions & Geographic Features

In [71]:
# Create new DataFrame filtered on desired type values
attractions_df = allPoints_df[(allPoints_df.Type == "Amphitheater") |
                              (allPoints_df.Type == "Arch") |
                              (allPoints_df.Type == "Basin") |
                              (allPoints_df.Type == "Battlefield") |
                              (allPoints_df.Type == "Battlefield Marker") |
                              (allPoints_df.Type == "Cable Car") |
                              (allPoints_df.Type == "Cave Entrance") |
                              (allPoints_df.Type == "Cinema") |
                              (allPoints_df.Type == "Cliff") |
                              (allPoints_df.Type == "Cultural Center") |
                              (allPoints_df.Type == "Cultural Landscape") |
                              (allPoints_df.Type == "Dam") |
                              (allPoints_df.Type == "Dune") |
                              (allPoints_df.Type == "Education Center") |
                              (allPoints_df.Type == "Forest") |
                              (allPoints_df.Type == "Fountain") |
                              (allPoints_df.Type == "Garden") |
                              (allPoints_df.Type == "Gazebo") |
                              (allPoints_df.Type == "Geyser") |
                              (allPoints_df.Type == "Grove") |
                              (allPoints_df.Type == "Island") |
                              (allPoints_df.Type == "Lava") |
                              (allPoints_df.Type == "Library") |
                              (allPoints_df.Type == "Lighthouse") |
                              (allPoints_df.Type == "Memorial") |
                              (allPoints_df.Type == "Monument") |
                              (allPoints_df.Type == "Monument or Memorial") |
                              (allPoints_df.Type == "Museum") |
                              (allPoints_df.Type == "Natural Feature") |
                              (allPoints_df.Type == "Overlook") |
                              (allPoints_df.Type == "Overlook or Viewpoint") |
                              (allPoints_df.Type == "Point of Interest") |
                              (allPoints_df.Type == "Quarry (Mine)") |
                              (allPoints_df.Type == "Rapids") |
                              (allPoints_df.Type == "Ridge") |
                              (allPoints_df.Type == "Rock Formation") |
                              (allPoints_df.Type == "Sculpture") |
                              (allPoints_df.Type == "Site of Interest") |
                              (allPoints_df.Type == "Totem Pole") |
                              (allPoints_df.Type == "Tour Stop") |
                              (allPoints_df.Type == "Valley") |
                              (allPoints_df.Type == "Viewpoint") |
                              (allPoints_df.Type == "Volcano") |
                              (allPoints_df.Type == "Volcano (Crater)") |
                              (allPoints_df.Type == "Waterfall") |
                              (allPoints_df.Type == "Wildlife Viewing") |
                              (allPoints_df.Type == "Windmill")]
attractions_df

,Name,Type,Latitude,Longitude
9,Brooks Camp Visitor Auditorium,Education Center,58.556331,-155.778985
98,Sled Dog Kennels,Point of Interest,63.719453,-148.968397
156,Russian Bishop's House (Historic),Museum,57.051426,-135.331281
165,Exhibit Building,Museum,62.020274,-145.363083
166,Theater,Education Center,62.020091,-145.363904
...,...,...,...,...
25035,Half Bow Arch,Arch,36.531393,-84.746396
25036,Fork Ridge Overlook,Viewpoint,35.459371,-83.117397
25039,Taywa Creek Cascade,Waterfall,35.601237,-83.327601
25040,Long Hungry Ridge,Ridge,35.508200,-83.851213
25046,Iowa Monument,Monument,32.202099,-84.131530

In [72]:
# Rename columns for SQL compatibility
attractions_df = attractions_df.rename(columns = {"Name":"name", "Type":"type", "Latitude":"latitude",
                                                  "Longitude":"longitude"})
attractions_df.head()

,name,type,latitude,longitude
9,Brooks Camp Visitor Auditorium,Education Center,58.556331,-155.778985
98,Sled Dog Kennels,Point of Interest,63.719453,-148.968397
156,Russian Bishop's House (Historic),Museum,57.051426,-135.331281
165,Exhibit Building,Museum,62.020274,-145.363083
166,Theater,Education Center,62.020091,-145.363904

In [73]:
# Reset index in place
attractions_df.reset_index(inplace = True, drop = True)
attractions_df.head()

                                name               type   latitude   longitude
0     Brooks Camp Visitor Auditorium   Education Center  58.556331 -155.778985
1                   Sled Dog Kennels  Point of Interest  63.719453 -148.968397
2  Russian Bishop's House (Historic)             Museum  57.051426 -135.331281
3                   Exhibit Building             Museum  62.020274 -145.363083
4                            Theater   Education Center  62.020091 -145.363904

##### Points of Interest: &nbsp;Boating & Watercraft

In [74]:
# Create new DataFrame filtered on desired type values
boating_df = allPoints_df[(allPoints_df.Type == "Bay") |
                          (allPoints_df.Type == "Boat Dock") |
                          (allPoints_df.Type == "Boat Launch") |
                          (allPoints_df.Type == "Boat Storage") |
                          (allPoints_df.Type == "Boathouse") |
                          (allPoints_df.Type == "Buoy") |
                          (allPoints_df.Type == "Canal") |
                          (allPoints_df.Type == "Canal Lock") |
                          (allPoints_df.Type == "Canoe/Kayak Access") |
                          (allPoints_df.Type == "Canoe / Kayak Access") |
                          (allPoints_df.Type == "Canoe/Small Boat Access") |
                          (allPoints_df.Type == "Gas Station - Boat only") |
                          (allPoints_df.Type == "Harbor") |
                          (allPoints_df.Type == "Lake") |
                          (allPoints_df.Type == "Marina") |
                          (allPoints_df.Type == "Mooring") |
                          (allPoints_df.Type == "Reservoir") |
                          (allPoints_df.Type == "Sailing") |
                          (allPoints_df.Type == "Windsurfing Area") |
                          (allPoints_df.Type == "Zebra Mussel Decontamination Station")]
boating_df

,Name,Type,Latitude,Longitude
346,Lower Dewey Reservoir,Reservoir,59.450314,-135.308928
412,Raft Launch,Canoe / Kayak Access,59.530797,-135.345492
530,Dry Bay Rafter Access,Canoe / Kayak Access,59.165072,-138.493305
532,Vessel Fuel Dock,Boat Dock,58.453368,-135.887219
533,Public Use Dock,Boat Dock,58.454558,-135.885824
...,...,...,...,...
24905,CSPZ 6,Buoy,24.620657,-82.864566
24937,Boat Dock,Boat Dock,25.149573,-80.514707
25010,WSEG Boat Ramp,Boat Launch,28.789845,-80.787559
25014,Nine Mile Pond Canoe / Kayak Access,Canoe / Kayak Access,25.254270,-80.797866
25049,Miss Green River,Boat Launch,37.179108,-86.112533

In [75]:
# Rename columns for SQL compatibility
boating_df = boating_df.rename(columns = {"Name":"name", "Type":"type", "Latitude":"latitude",
                                          "Longitude":"longitude"})
boating_df.head()

                      name                  type   latitude   longitude
346  Lower Dewey Reservoir             Reservoir  59.450314 -135.308928
412            Raft Launch  Canoe / Kayak Access  59.530797 -135.345492
530  Dry Bay Rafter Access  Canoe / Kayak Access  59.165072 -138.493305
532       Vessel Fuel Dock             Boat Dock  58.453368 -135.887219
533        Public Use Dock             Boat Dock  58.454558 -135.885824

In [76]:
# Reset index in place
boating_df.reset_index(inplace = True, drop = True)
boating_df.head()

                    name                  type   latitude   longitude
0  Lower Dewey Reservoir             Reservoir  59.450314 -135.308928
1            Raft Launch  Canoe / Kayak Access  59.530797 -135.345492
2  Dry Bay Rafter Access  Canoe / Kayak Access  59.165072 -138.493305
3       Vessel Fuel Dock             Boat Dock  58.453368 -135.887219
4        Public Use Dock             Boat Dock  58.454558 -135.885824

##### Points of Interest: &nbsp;Camping

In [77]:
# Create new DataFrame filtered on desired type values
camping_df = allPoints_df[(allPoints_df.Type == "Campfire Ring") |
                          (allPoints_df.Type == "Campground") |
                          (allPoints_df.Type == "Campground, Trailer") |
                          (allPoints_df.Type == "Campsite") |
                          (allPoints_df.Type == "Campsite, Primitive") |
                          (allPoints_df.Type == "Dormitory") |
                          (allPoints_df.Type == "Dump Station") |
                          (allPoints_df.Type == "Dumpster") |
                          (allPoints_df.Type == "Firewood") |
                          (allPoints_df.Type == "Grill") |
                          (allPoints_df.Type == "Laundry") |
                          (allPoints_df.Type == "Litter Receptacle") |
                          (allPoints_df.Type == "Picnic Area") |
                          (allPoints_df.Type == "Picnic Table") |
                          (allPoints_df.Type == "Potable Water") |
                          (allPoints_df.Type == "Primitive Camping") |
                          (allPoints_df.Type == "Recycling") |
                          (allPoints_df.Type == "Restroom") |
                          (allPoints_df.Type == "RV Campground") |
                          (allPoints_df.Type == "Showers")]
camping_df

,Name,Type,Latitude,Longitude
1,Lake Brooks Picnic Area Outhouse,Restroom,58.546349,-155.793085
2,Brooks Falls Trail Comfort Station,Restroom,58.550747,-155.781954
3,Margot Falls Comfort Station,Restroom,58.441668,-155.605117
18,Brooks Lodge Guest Shower/Restroom,Restroom,58.555560,-155.778564
24,"Valley of 10,000 Smokes Visitor Center Comfort...",Restroom,58.368642,-155.383285
...,...,...,...,...
25033,#68 Steel Trap,Primitive Camping,35.543713,-83.507690
25034,Visitor Center Picnic Area,Picnic Area,34.330321,-88.709717
25048,Cumberland Knob Picnic Area,Picnic Area,36.553808,-80.907149
25052,Cataloochee Horse Camp,Litter Receptacle,35.629392,-83.115815
25053,Elkmont CG Road G,Dumpster,35.661311,-83.586168

In [78]:
# Rename columns for SQL compatibility
camping_df = camping_df.rename(columns = {"Name":"name", "Type":"type", "Latitude":"latitude",
                                          "Longitude":"longitude"})
camping_df.head()

,name,type,latitude,longitude
1,Lake Brooks Picnic Area Outhouse,Restroom,58.546349,-155.793085
2,Brooks Falls Trail Comfort Station,Restroom,58.550747,-155.781954
3,Margot Falls Comfort Station,Restroom,58.441668,-155.605117
18,Brooks Lodge Guest Shower/Restroom,Restroom,58.555560,-155.778564
24,"Valley of 10,000 Smokes Visitor Center Comfort...",Restroom,58.368642,-155.383285

In [79]:
# Reset index in place
camping_df.reset_index(inplace = True, drop = True)
camping_df.head()

,name,type,latitude,longitude
0,Lake Brooks Picnic Area Outhouse,Restroom,58.546349,-155.793085
1,Brooks Falls Trail Comfort Station,Restroom,58.550747,-155.781954
2,Margot Falls Comfort Station,Restroom,58.441668,-155.605117
3,Brooks Lodge Guest Shower/Restroom,Restroom,58.555560,-155.778564
4,"Valley of 10,000 Smokes Visitor Center Comfort...",Restroom,58.368642,-155.383285

##### Points of Interest: &nbsp;Emergency Services

In [80]:
# Create new DataFrame filtered on desired type values
emergency_df = allPoints_df[(allPoints_df.Type == "Clinic") |
                            (allPoints_df.Type == "Fire Station") |
                            (allPoints_df.Type == "First Aid Station") |
                            (allPoints_df.Type == "Hospital") |
                            (allPoints_df.Type == "Patrol Cabin") |
                            (allPoints_df.Type == "Police") |
                            (allPoints_df.Type == "Ranger Station") |
                            (allPoints_df.Type == "Shelter") |
                            (allPoints_df.Type == "Telephone") |
                            (allPoints_df.Type == "Weather Shelter")]
emergency_df

,Name,Type,Latitude,Longitude
0,Lake Brooks Picnic Area Shelter,Shelter,58.546282,-155.793521
4,Campground Lean-to,Shelter,58.560077,-155.777895
6,Campground Lean-to,Shelter,58.560144,-155.777510
7,Campground Lean-to,Shelter,58.559874,-155.777597
8,Brooks Camp Ranger Station (Historic),Ranger Station,58.556654,-155.778542
...,...,...,...,...
24016,Kephart Shelter,Shelter,35.610142,-83.368535
24203,Great Island,Ranger Station,34.759965,-76.412902
24336,Russell Field Shelter,Shelter,35.561784,-83.766542
24458,Maple Springs,Ranger Station,37.207256,-86.132019
24625,Elliott Key Ranger Station,Ranger Station,25.452620,-80.196030

In [81]:
# Rename columns for SQL compatibility
emergency_df = emergency_df.rename(columns = {"Name":"name", "Type":"type", "Latitude":"latitude",
                                              "Longitude":"longitude"})
emergency_df.head()

,name,type,latitude,longitude
0,Lake Brooks Picnic Area Shelter,Shelter,58.546282,-155.793521
4,Campground Lean-to,Shelter,58.560077,-155.777895
6,Campground Lean-to,Shelter,58.560144,-155.777510
7,Campground Lean-to,Shelter,58.559874,-155.777597
8,Brooks Camp Ranger Station (Historic),Ranger Station,58.556654,-155.778542

In [82]:
# Reset index in place
emergency_df.reset_index(inplace = True, drop = True)
emergency_df.head()

,name,type,latitude,longitude
0,Lake Brooks Picnic Area Shelter,Shelter,58.546282,-155.793521
1,Campground Lean-to,Shelter,58.560077,-155.777895
2,Campground Lean-to,Shelter,58.560144,-155.777510
3,Campground Lean-to,Shelter,58.559874,-155.777597
4,Brooks Camp Ranger Station (Historic),Ranger Station,58.556654,-155.778542

##### Points of Interest: &nbsp;Historic Sites

In [83]:
# Create new DataFrame filtered on desired type values
historic_df = allPoints_df[(allPoints_df.Type == "Battlefield") |
                           (allPoints_df.Type == "Battlefield Marker") |
                           (allPoints_df.Type == "Cannon") |
                           (allPoints_df.Type == "Cemetery / Graveyard") |
                           (allPoints_df.Type == "Grave") |
                           (allPoints_df.Type == "Historic Building") |
                           (allPoints_df.Type == "Historic Cabin") |
                           (allPoints_df.Type == "Historic District") |
                           (allPoints_df.Type == "Historic Marker") |
                           (allPoints_df.Type == "Historic Mine") |
                           (allPoints_df.Type == "Historic Ruins") |
                           (allPoints_df.Type == "Historic Site") |
                           (allPoints_df.Type == "Library") |
                           (allPoints_df.Type == "Museum") |
                           (allPoints_df.Type == "Totem Pole")]
historic_df

,Name,Type,Latitude,Longitude
151,Alaska Packers Cabin (Historic),Historic Cabin,56.763552,-157.491128
156,Russian Bishop's House (Historic),Museum,57.051426,-135.331281
157,Old School (Historic),Historic Building,57.051470,-135.330866
158,Priests' Quarters (Historic),Historic Building,57.051477,-135.331704
159,Old School House (Shaw) (Historic),Historic Building,61.481239,-142.885253
...,...,...,...,...
24946,Alfred Reagan House,Historic Building,35.702581,-83.471037
24957,John P. Cable Barn,Historic Building,35.584674,-83.844034
24964,Snee Farm House,Historic Building,32.846066,-79.824678
24984,Carson-Messer Cemetery,Cemetery / Graveyard,35.604215,-83.095511
24987,King Birth Home,Historic Building,33.755213,-84.371121

In [84]:
# Rename columns for SQL compatibility
historic_df = historic_df.rename(columns = {"Name":"name", "Type":"type", "Latitude":"latitude",
                                            "Longitude":"longitude"})
historic_df.head()

,name,type,latitude,longitude
151,Alaska Packers Cabin (Historic),Historic Cabin,56.763552,-157.491128
156,Russian Bishop's House (Historic),Museum,57.051426,-135.331281
157,Old School (Historic),Historic Building,57.051470,-135.330866
158,Priests' Quarters (Historic),Historic Building,57.051477,-135.331704
159,Old School House (Shaw) (Historic),Historic Building,61.481239,-142.885253

In [85]:
# Reset index in place
historic_df.reset_index(inplace = True, drop = True)
historic_df.head()

,name,type,latitude,longitude
0,Alaska Packers Cabin (Historic),Historic Cabin,56.763552,-157.491128
1,Russian Bishop's House (Historic),Museum,57.051426,-135.331281
2,Old School (Historic),Historic Building,57.051470,-135.330866
3,Priests' Quarters (Historic),Historic Building,57.051477,-135.331704
4,Old School House (Shaw) (Historic),Historic Building,61.481239,-142.885253

##### Points of Interest: &nbsp;Parking & Transportation

In [86]:
# Create new DataFrame filtered on desired type values
parkingTransportation_df = allPoints_df[(allPoints_df.Type == "Bus or Shuttle Stop") |
                                        (allPoints_df.Type == "Bus Stop / Shuttle Stop") |
                                        (allPoints_df.Type == "Electric Vehicle Parking") |
                                        (allPoints_df.Type == "Entrance / Exit") |
                                        (allPoints_df.Type == "Entrance Station") |
                                        (allPoints_df.Type == "Entrance/Exit") |
                                        (allPoints_df.Type == "Ferry Terminal") |
                                        (allPoints_df.Type == "Garage") |
                                        (allPoints_df.Type == "Gas Station") |
                                        (allPoints_df.Type == "Gate") |
                                        (allPoints_df.Type == "Gateway Sign") |
                                        (allPoints_df.Type == "Metro Station") |
                                        (allPoints_df.Type == "Parking Lot") |
                                        (allPoints_df.Type == "Parking, Disabled Only") |
                                        (allPoints_df.Type == "Road") |
                                        (allPoints_df.Type == "Roadside Pullout") |
                                        (allPoints_df.Type == "Train Station")]
parkingTransportation_df

,Name,Type,Latitude,Longitude
58,Vessel Fueling/Pumpout,Gas Station,58.455087,-135.888687
68,Denali Bus Depot,Bus Stop / Shuttle Stop,63.736585,-148.897401
197,Machine Shop (Historic),Garage,61.485650,-142.889561
537,Parking Lot,Parking Lot,58.454083,-135.885648
538,Overnight Parking,Parking Lot,58.452988,-135.887529
...,...,...,...,...
25043,Sinks Bridge And Trailhead Parking,Parking Lot,35.669477,-83.662081
25045,Pullout Parking At Mile Post 13.68,Parking Lot,35.619673,-83.420680
25047,Gate,Gate,25.374735,-80.622179
25054,Tremont Institute Parking #2,Parking Lot,35.641874,-83.689806
25055,Parking Lot,Parking Lot,30.439240,-81.437981

In [87]:
# Rename columns for SQL compatibility
parkingTransportation_df = parkingTransportation_df.rename(columns = {"Name":"name", "Type":"type", "Latitude":"latitude",
                                                                      "Longitude":"longitude"})
parkingTransportation_df.head()

                        name                     type   latitude   longitude
58    Vessel Fueling/Pumpout              Gas Station  58.455087 -135.888687
68          Denali Bus Depot  Bus Stop / Shuttle Stop  63.736585 -148.897401
197  Machine Shop (Historic)                   Garage  61.485650 -142.889561
537              Parking Lot              Parking Lot  58.454083 -135.885648
538        Overnight Parking              Parking Lot  58.452988 -135.887529

In [88]:
# Reset index in place
parkingTransportation_df.reset_index(inplace = True, drop = True)
parkingTransportation_df.head()

                      name                     type   latitude   longitude
0   Vessel Fueling/Pumpout              Gas Station  58.455087 -135.888687
1         Denali Bus Depot  Bus Stop / Shuttle Stop  63.736585 -148.897401
2  Machine Shop (Historic)                   Garage  61.485650 -142.889561
3              Parking Lot              Parking Lot  58.454083 -135.885648
4        Overnight Parking              Parking Lot  58.452988 -135.887529

### E. &nbsp;Attendance/Visitors (Recreation Visits; from CSV)
- By Park by Year
- "Presidents' Park" did not have its own code; combined these attendance values with White House attendance numbers.
- "Klondike Gold Rush - Seattle" technically falls under Klondike Gold Rush - Alaska and does not have its own code; eliminated this record altogether (average annual attendance is 66,907).

In [89]:
# Rename column
attendance_df = attendance_df.rename(columns = {"Park Name":"Name"})
attendance_df.head()

,Code,Name,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,Average
0,ABLI,Abraham Lincoln Birthplace NHP,"163,568","169,515","163,928","241,264","148,605","252,495","269,580","260,964","238,226","228,141","213,629"
1,ACAD,Acadia NP,"2,374,645","2,431,052","2,254,922","2,563,129","2,811,184","3,303,393","3,509,271","3,537,575","3,437,286","2,669,034","2,889,149"
2,ADAM,Adams NHP,"219,975","336,031","285,501","178,468","183,632","199,301","255,562","121,007","187,400","6,937","197,381"
3,AFBG,African Burial Ground NM,"108,585","77,624","93,234","54,861","56,348","46,526","43,182","45,035","47,427","7,908","58,073"
4,AGFO,Agate Fossil Beds NM,"11,617","11,824","10,504","12,440","13,264","15,555","32,038","16,238","16,657","8,722","14,886"

In [90]:
# Check number of unique values in Code column
f = len(pd.unique(attendance_df["Code"]))
f

382

In [91]:
# Data types
attendance_df.dtypes

Code       object
Name       object
2011       object
2012       object
2013       object
2014       object
2015       object
2016       object
2017       object
2018       object
2019       object
2020       object
Average    object
dtype: object

In [92]:
# Transform blank string values to NaN values
attendance_df["2011"].replace(" ", np.nan, inplace = True)
attendance_df["2012"].replace(" ", np.nan, inplace = True)
attendance_df["2013"].replace(" ", np.nan, inplace = True)
attendance_df["2014"].replace(" ", np.nan, inplace = True)
attendance_df["2015"].replace(" ", np.nan, inplace = True)
attendance_df["2016"].replace(" ", np.nan, inplace = True)
attendance_df["2017"].replace(" ", np.nan, inplace = True)
attendance_df["2018"].replace(" ", np.nan, inplace = True)
attendance_df["2019"].replace(" ", np.nan, inplace = True)
attendance_df["2020"].replace(" ", np.nan, inplace = True)
attendance_df["Average"].replace(" ", np.nan, inplace = True)
attendance_df.head()

,Code,Name,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,Average
0,ABLI,Abraham Lincoln Birthplace NHP,"163,568","169,515","163,928","241,264","148,605","252,495","269,580","260,964","238,226","228,141","213,629"
1,ACAD,Acadia NP,"2,374,645","2,431,052","2,254,922","2,563,129","2,811,184","3,303,393","3,509,271","3,537,575","3,437,286","2,669,034","2,889,149"
2,ADAM,Adams NHP,"219,975","336,031","285,501","178,468","183,632","199,301","255,562","121,007","187,400","6,937","197,381"
3,AFBG,African Burial Ground NM,"108,585","77,624","93,234","54,861","56,348","46,526","43,182","45,035","47,427","7,908","58,073"
4,AGFO,Agate Fossil Beds NM,"11,617","11,824","10,504","12,440","13,264","15,555","32,038","16,238","16,657","8,722","14,886"

In [93]:
# Remove commas from string values in yearly attendance columns
attendance_df["2011"] = attendance_df["2011"].str.replace(",", "")
attendance_df["2012"] = attendance_df["2012"].str.replace(",", "")
attendance_df["2013"] = attendance_df["2013"].str.replace(",", "")
attendance_df["2014"] = attendance_df["2014"].str.replace(",", "")
attendance_df["2015"] = attendance_df["2015"].str.replace(",", "")
attendance_df["2016"] = attendance_df["2016"].str.replace(",", "")
attendance_df["2017"] = attendance_df["2017"].str.replace(",", "")
attendance_df["2018"] = attendance_df["2018"].str.replace(",", "")
attendance_df["2019"] = attendance_df["2019"].str.replace(",", "")
attendance_df["2020"] = attendance_df["2020"].str.replace(",", "")
attendance_df["Average"] = attendance_df["Average"].str.replace(",", "")
attendance_df.head()

,Code,Name,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,Average
0,ABLI,Abraham Lincoln Birthplace NHP,163568,169515,163928,241264,148605,252495,269580,260964,238226,228141,213629
1,ACAD,Acadia NP,2374645,2431052,2254922,2563129,2811184,3303393,3509271,3537575,3437286,2669034,2889149
2,ADAM,Adams NHP,219975,336031,285501,178468,183632,199301,255562,121007,187400,6937,197381
3,AFBG,African Burial Ground NM,108585,77624,93234,54861,56348,46526,43182,45035,47427,7908,58073
4,AGFO,Agate Fossil Beds NM,11617,11824,10504,12440,13264,15555,32038,16238,16657,8722,14886

In [94]:
# Transform NaN values to "0"
attendance_df["2011"] = attendance_df["2011"].fillna(0)
attendance_df["2012"] = attendance_df["2012"].fillna(0)
attendance_df["2013"] = attendance_df["2013"].fillna(0)
attendance_df["2014"] = attendance_df["2014"].fillna(0)
attendance_df["2015"] = attendance_df["2015"].fillna(0)
attendance_df["2016"] = attendance_df["2016"].fillna(0)
attendance_df["2017"] = attendance_df["2017"].fillna(0)
attendance_df["2018"] = attendance_df["2018"].fillna(0)
attendance_df["2019"] = attendance_df["2019"].fillna(0)
attendance_df["2020"] = attendance_df["2020"].fillna(0)
attendance_df["Average"] = attendance_df["Average"].fillna(0)
attendance_df.head()

,Code,Name,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,Average
0,ABLI,Abraham Lincoln Birthplace NHP,163568,169515,163928,241264,148605,252495,269580,260964,238226,228141,213629
1,ACAD,Acadia NP,2374645,2431052,2254922,2563129,2811184,3303393,3509271,3537575,3437286,2669034,2889149
2,ADAM,Adams NHP,219975,336031,285501,178468,183632,199301,255562,121007,187400,6937,197381
3,AFBG,African Burial Ground NM,108585,77624,93234,54861,56348,46526,43182,45035,47427,7908,58073
4,AGFO,Agate Fossil Beds NM,11617,11824,10504,12440,13264,15555,32038,16238,16657,8722,14886

In [95]:
# Transform values to integers
attendance_df["2011"] = attendance_df["2011"].astype(int)
attendance_df["2012"] = attendance_df["2012"].astype(int)
attendance_df["2013"] = attendance_df["2013"].astype(int)
attendance_df["2014"] = attendance_df["2014"].astype(int)
attendance_df["2015"] = attendance_df["2015"].astype(int)
attendance_df["2016"] = attendance_df["2016"].astype(int)
attendance_df["2017"] = attendance_df["2017"].astype(int)
attendance_df["2018"] = attendance_df["2018"].astype(int)
attendance_df["2019"] = attendance_df["2019"].astype(int)
attendance_df["2020"] = attendance_df["2020"].astype(int)
attendance_df["Average"] = attendance_df["Average"].astype(int)
attendance_df.head()

,Code,Name,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,Average
0,ABLI,Abraham Lincoln Birthplace NHP,163568,169515,163928,241264,148605,252495,269580,260964,238226,228141,213629
1,ACAD,Acadia NP,2374645,2431052,2254922,2563129,2811184,3303393,3509271,3537575,3437286,2669034,2889149
2,ADAM,Adams NHP,219975,336031,285501,178468,183632,199301,255562,121007,187400,6937,197381
3,AFBG,African Burial Ground NM,108585,77624,93234,54861,56348,46526,43182,45035,47427,7908,58073
4,AGFO,Agate Fossil Beds NM,11617,11824,10504,12440,13264,15555,32038,16238,16657,8722,14886

In [96]:
# Data types
attendance_df.dtypes

Code       object
Name       object
2011        int64
2012        int64
2013        int64
2014        int64
2015        int64
2016        int64
2017        int64
2018        int64
2019        int64
2020        int64
Average     int64
dtype: object

In [97]:
# DataFrame size
attendance_df.shape

(383, 13)

##### *Merge National Parks and Attendance DataFrames and create one comprehensive natParks DataFrame*

In [98]:
# Merge DataFrames
natParks_df = natParksArea_df.merge(attendance_df, how = "left", left_on = "Code", right_on = "Code")
natParks_df

,Code,Name_x,Latitude,Longitude,Area,Name_y,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,Average
0,ABLI,Abraham Lincoln Birthplace National Historical...,37.535671,-85.734064,3.387514e+02,Abraham Lincoln Birthplace NHP,163568.0,169515.0,163928.0,241264.0,148605.0,252495.0,269580.0,260964.0,238226.0,228141.0,213629.0
1,ACAD,Acadia National Park,44.338556,-68.273335,3.476628e+04,Acadia NP,2374645.0,2431052.0,2254922.0,2563129.0,2811184.0,3303393.0,3509271.0,3537575.0,3437286.0,2669034.0,2889149.0
2,ADAM,Adams National Historical Park,42.256412,-71.011167,1.363651e+01,Adams NHP,219975.0,336031.0,285501.0,178468.0,183632.0,199301.0,255562.0,121007.0,187400.0,6937.0,197381.0
3,AFBG,African Burial Ground National Monument,40.715051,-74.005369,3.439449e-01,African Burial Ground NM,108585.0,77624.0,93234.0,54861.0,56348.0,46526.0,43182.0,45035.0,47427.0,7908.0,58073.0
4,AGFO,Agate Fossil Beds National Monument,42.421703,-103.753880,3.045134e+03,Agate Fossil Beds NM,11617.0,11824.0,10504.0,12440.0,13264.0,15555.0,32038.0,16238.0,16657.0,8722.0,14886.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,YELL,Yellowstone National Park,44.462085,-110.642441,2.199456e+06,Yellowstone NP,3394326.0,3447729.0,3188030.0,3513484.0,4097710.0,4257177.0,4116524.0,4115000.0,4020288.0,3806306.0,3795657.0
414,YOSE,Yosemite National Park,37.719000,-119.557168,7.459013e+05,Yosemite NP,3951393.0,3853404.0,3691191.0,3882642.0,4150217.0,5028868.0,4336890.0,4009436.0,4422861.0,2268313.0,3959522.0
415,YUHO,Yucca House National Monument,37.167480,-108.525539,3.561132e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
416,YUCH,Yukon-Charley Rivers National Preserve,64.789430,-141.202849,2.522690e+06,Yukon-Charley Rivers NPRES,1718.0,1393.0,3914.0,2329.0,1133.0,1146.0,952.0,1272.0,1114.0,666.0,1564.0
417,ZION,Zion National Park,37.240801,-112.941626,1.487091e+05,Zion NP,2825505.0,2973607.0,2807387.0,3189696.0,3648846.0,4295127.0,4504812.0,4320033.0,4488268.0,3591254.0,3664454.0

In [99]:
# Drop unnecessary columns
natParks_df.drop(columns = ["Name_y"], inplace = True)
natParks_df.head()

,Code,Name_x,Latitude,Longitude,Area,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,Average
0,ABLI,Abraham Lincoln Birthplace National Historical...,37.535671,-85.734064,338.751431,163568.0,169515.0,163928.0,241264.0,148605.0,252495.0,269580.0,260964.0,238226.0,228141.0,213629.0
1,ACAD,Acadia National Park,44.338556,-68.273335,34766.279070,2374645.0,2431052.0,2254922.0,2563129.0,2811184.0,3303393.0,3509271.0,3537575.0,3437286.0,2669034.0,2889149.0
2,ADAM,Adams National Historical Park,42.256412,-71.011167,13.636510,219975.0,336031.0,285501.0,178468.0,183632.0,199301.0,255562.0,121007.0,187400.0,6937.0,197381.0
3,AFBG,African Burial Ground National Monument,40.715051,-74.005369,0.343945,108585.0,77624.0,93234.0,54861.0,56348.0,46526.0,43182.0,45035.0,47427.0,7908.0,58073.0
4,AGFO,Agate Fossil Beds National Monument,42.421703,-103.753880,3045.134062,11617.0,11824.0,10504.0,12440.0,13264.0,15555.0,32038.0,16238.0,16657.0,8722.0,14886.0

In [100]:
# Rename columns for compatibility with SQL
natParks_df = natParks_df.rename(columns = {"Code":"code", "Name_x":"name", "Latitude":"latitude", "Longitude":"longitude",
                                            "Area":"acres", "2011":"att_2011", "2012":"att_2012", "2013":"att_2013",
                                            "2014":"att_2014", "2015":"att_2015", "2016":"att_2016", "2017":"att_2017",
                                            "2018":"att_2018", "2019":"att_2019", "2020":"att_2020", "Average":"att_average"})
natParks_df.head()

,code,name,latitude,longitude,acres,att_2011,att_2012,att_2013,att_2014,att_2015,att_2016,att_2017,att_2018,att_2019,att_2020,att_average
0,ABLI,Abraham Lincoln Birthplace National Historical...,37.535671,-85.734064,338.751431,163568.0,169515.0,163928.0,241264.0,148605.0,252495.0,269580.0,260964.0,238226.0,228141.0,213629.0
1,ACAD,Acadia National Park,44.338556,-68.273335,34766.279070,2374645.0,2431052.0,2254922.0,2563129.0,2811184.0,3303393.0,3509271.0,3537575.0,3437286.0,2669034.0,2889149.0
2,ADAM,Adams National Historical Park,42.256412,-71.011167,13.636510,219975.0,336031.0,285501.0,178468.0,183632.0,199301.0,255562.0,121007.0,187400.0,6937.0,197381.0
3,AFBG,African Burial Ground National Monument,40.715051,-74.005369,0.343945,108585.0,77624.0,93234.0,54861.0,56348.0,46526.0,43182.0,45035.0,47427.0,7908.0,58073.0
4,AGFO,Agate Fossil Beds National Monument,42.421703,-103.753880,3045.134062,11617.0,11824.0,10504.0,12440.0,13264.0,15555.0,32038.0,16238.0,16657.0,8722.0,14886.0

In [101]:
# Data types
natParks_df.dtypes

code            object
name            object
latitude       float64
longitude      float64
acres          float64
att_2011       float64
att_2012       float64
att_2013       float64
att_2014       float64
att_2015       float64
att_2016       float64
att_2017       float64
att_2018       float64
att_2019       float64
att_2020       float64
att_average    float64
dtype: object

In [102]:
# Transform NaN values to "0"
natParks_df["att_2011"] = natParks_df["att_2011"].fillna(0)
natParks_df["att_2012"] = natParks_df["att_2012"].fillna(0)
natParks_df["att_2013"] = natParks_df["att_2013"].fillna(0)
natParks_df["att_2014"] = natParks_df["att_2014"].fillna(0)
natParks_df["att_2015"] = natParks_df["att_2015"].fillna(0)
natParks_df["att_2016"] = natParks_df["att_2016"].fillna(0)
natParks_df["att_2017"] = natParks_df["att_2017"].fillna(0)
natParks_df["att_2018"] = natParks_df["att_2018"].fillna(0)
natParks_df["att_2019"] = natParks_df["att_2019"].fillna(0)
natParks_df["att_2020"] = natParks_df["att_2020"].fillna(0)
natParks_df["att_average"] = natParks_df["att_average"].fillna(0)
natParks_df.head()

,code,name,latitude,longitude,acres,att_2011,att_2012,att_2013,att_2014,att_2015,att_2016,att_2017,att_2018,att_2019,att_2020,att_average
0,ABLI,Abraham Lincoln Birthplace National Historical...,37.535671,-85.734064,338.751431,163568.0,169515.0,163928.0,241264.0,148605.0,252495.0,269580.0,260964.0,238226.0,228141.0,213629.0
1,ACAD,Acadia National Park,44.338556,-68.273335,34766.279070,2374645.0,2431052.0,2254922.0,2563129.0,2811184.0,3303393.0,3509271.0,3537575.0,3437286.0,2669034.0,2889149.0
2,ADAM,Adams National Historical Park,42.256412,-71.011167,13.636510,219975.0,336031.0,285501.0,178468.0,183632.0,199301.0,255562.0,121007.0,187400.0,6937.0,197381.0
3,AFBG,African Burial Ground National Monument,40.715051,-74.005369,0.343945,108585.0,77624.0,93234.0,54861.0,56348.0,46526.0,43182.0,45035.0,47427.0,7908.0,58073.0
4,AGFO,Agate Fossil Beds National Monument,42.421703,-103.753880,3045.134062,11617.0,11824.0,10504.0,12440.0,13264.0,15555.0,32038.0,16238.0,16657.0,8722.0,14886.0

In [103]:
# Transform values to integers
natParks_df["att_2011"] = natParks_df["att_2011"].astype(int)
natParks_df["att_2012"] = natParks_df["att_2012"].astype(int)
natParks_df["att_2013"] = natParks_df["att_2013"].astype(int)
natParks_df["att_2014"] = natParks_df["att_2014"].astype(int)
natParks_df["att_2015"] = natParks_df["att_2015"].astype(int)
natParks_df["att_2016"] = natParks_df["att_2016"].astype(int)
natParks_df["att_2017"] = natParks_df["att_2017"].astype(int)
natParks_df["att_2018"] = natParks_df["att_2018"].astype(int)
natParks_df["att_2019"] = natParks_df["att_2019"].astype(int)
natParks_df["att_2020"] = natParks_df["att_2020"].astype(int)
natParks_df["att_average"] = natParks_df["att_average"].astype(int)
natParks_df

,code,name,latitude,longitude,acres,att_2011,att_2012,att_2013,att_2014,att_2015,att_2016,att_2017,att_2018,att_2019,att_2020,att_average
0,ABLI,Abraham Lincoln Birthplace National Historical...,37.535671,-85.734064,3.387514e+02,163568,169515,163928,241264,148605,252495,269580,260964,238226,228141,213629
1,ACAD,Acadia National Park,44.338556,-68.273335,3.476628e+04,2374645,2431052,2254922,2563129,2811184,3303393,3509271,3537575,3437286,2669034,2889149
2,ADAM,Adams National Historical Park,42.256412,-71.011167,1.363651e+01,219975,336031,285501,178468,183632,199301,255562,121007,187400,6937,197381
3,AFBG,African Burial Ground National Monument,40.715051,-74.005369,3.439449e-01,108585,77624,93234,54861,56348,46526,43182,45035,47427,7908,58073
4,AGFO,Agate Fossil Beds National Monument,42.421703,-103.753880,3.045134e+03,11617,11824,10504,12440,13264,15555,32038,16238,16657,8722,14886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,YELL,Yellowstone National Park,44.462085,-110.642441,2.199456e+06,3394326,3447729,3188030,3513484,4097710,4257177,4116524,4115000,4020288,3806306,3795657
414,YOSE,Yosemite National Park,37.719000,-119.557168,7.459013e+05,3951393,3853404,3691191,3882642,4150217,5028868,4336890,4009436,4422861,2268313,3959522
415,YUHO,Yucca House National Monument,37.167480,-108.525539,3.561132e+01,0,0,0,0,0,0,0,0,0,0,0
416,YUCH,Yukon-Charley Rivers National Preserve,64.789430,-141.202849,2.522690e+06,1718,1393,3914,2329,1133,1146,952,1272,1114,666,1564
417,ZION,Zion National Park,37.240801,-112.941626,1.487091e+05,2825505,2973607,2807387,3189696,3648846,4295127,4504812,4320033,4488268,3591254,3664454

In [104]:
# Data types
natParks_df.dtypes

code            object
name            object
latitude       float64
longitude      float64
acres          float64
att_2011         int64
att_2012         int64
att_2013         int64
att_2014         int64
att_2015         int64
att_2016         int64
att_2017         int64
att_2018         int64
att_2019         int64
att_2020         int64
att_average      int64
dtype: object

# Load

In [105]:
# Export DataFrames to CSV files
sportsActivities_df.to_csv("resources/sportsActivitiesFinal.csv")
amenities_df.to_csv("resources/amenitiesFinal.csv")
attractions_df.to_csv("resources/attractionsFinal.csv")
boating_df.to_csv("resources/boatingFinal.csv")
camping_df.to_csv("resources/campingFinal.csv")
emergency_df.to_csv("resources/emergencyFinal.csv")
historic_df.to_csv("resources/historicFinal.csv")
natParks_df.to_csv("resources/natParksFinal.csv")
parking_df.to_csv("resources/parkingFinal.csv")
parkingTransportation_df.to_csv("resources/parkingTransportationFinal.csv")

##### postgreSQL Method (functioning correctly)

In [106]:
# Create an engine that can talk to the database
engine = create_engine(f'postgresql://postgres:cnm302@localhost:5432/natParks')
connection = engine.connect()

In [107]:
# Check for table
engine.table_names()

['natparks',
 'sportsactivities',
 'amenities',
 'attractions',
 'boating',
 'camping',
 'emergency',
 'historic',
 'parkinglots',
 'parkingtransportation']

In [108]:
# Use pandas to load DataFrames into natParks database
natParks_df.to_sql(name = "natparks", con = engine, if_exists = "append", index = False)
sportsActivities_df.to_sql(name = "sportsactivities", con = engine, if_exists = "append", index = False)
amenities_df.to_sql(name = "amenities", con = engine, if_exists = "append", index = False)
attractions_df.to_sql(name = "attractions", con = engine, if_exists = "append", index = False)
boating_df.to_sql(name = "boating", con = engine, if_exists = "append", index = False)
camping_df.to_sql(name = "camping", con = engine, if_exists = "append", index = False)
emergency_df.to_sql(name = "emergency", con = engine, if_exists = "append", index = False)
historic_df.to_sql(name = "historic", con = engine, if_exists = "append", index = False)
parking_df.to_sql(name = "parkinglots", con = engine, if_exists = "append", index = False)
parkingTransportation_df.to_sql(name = "parkingtransportation", con = engine, if_exists = "append", index = False)

# Code below to be used for creating SQLite Database

##### Method 1. &nbsp;Insert Data with Classes and Constructors (10.2 Activities 1, 3, and 4)

In [109]:
# # Sets an object to utilize the default declarative base in SQL Alchemy
# Base = declarative_base()

In [110]:
# # Create classes to define our tables
# class Parks(Base):
#     __tablename__ = "natparks"
#     id = Column(Integer, primary_key = True)
#     code = Column(String(255))
#     name = Column(String(255))
#     latitude = Column(Float)
#     longitude = Column(Float)
#     acres = Column(Float)
#     att_2011 = Column(Integer)
#     att_2012 = Column(Integer)
#     att_2013 = Column(Integer)
#     att_2014 = Column(Integer)
#     att_2015 = Column(Integer)
#     att_2016 = Column(Integer)
#     att_2017 = Column(Integer)
#     att_2018 = Column(Integer)
#     att_2019 = Column(Integer)
#     att_2020 = Column(Integer)
#     att_average = Column(Integer)

# class Points(Base):
#     __tablename__ = "pointsinterest"
#     id = Column(Integer, primary_key = True)
#     name = Column(String(255))
#     type = Column(String(255))
#     latitude = Column(Float)
#     longitude = Column(Float)
    
# class Parking(Base):
#     __tablename__ = "parkinglots"
#     id = Column(Integer, primary_key = True)
#     name = Column(String(255))
#     type = Column(String(255))
#     latitude = Column(Float)
#     longitude = Column(Float)

##### NEED TO FIRST CREATE NATPARKS.SQLITE REFERENCED IN CELL BELOW???

In [111]:
# # Create engine to natparks.sqlite
# engine = create_engine("sqlite:///resources/natparks.sqlite")

In [112]:
# # Create our tables in the database
# Base.metadata.create_all(engine)

In [113]:
# # Create our session (link) from Python to the DB
# session = Session(bind = engine)

In [114]:
# # Create instances of each class
# parks = Parks("WHAT GOES IN HERE?")  "CONVERT DATAFRAMES TO DICTIONARY TO PASS IN HERE?"
# points = Points("WHAT GOES IN HERE?")
# lots = Parking("WHAT GOES IN HERE?")

In [115]:
# # Use the SQL Alchemy methods to run simple "INSERT" statements using the classes and objects
# session.add(Parks)
# session.add(Points)
# session.add(Parking)

In [116]:
# # Commit transaction of changes to database
# session.commit()

##### Method 2. &nbsp;Insert Data with Pandas and SQLAlchemy ORM

In [117]:
# # Insert Data with Pandas and SQLAlchemy ORM
# Session = sessionmaker(bind = dest_db_con)
# session = Session()
# session.bulk_insert_mappings(natParks_df, df.to_dict(orient = "records"))
# session.close()